/* главный блок расширения экрана */
.title-blog {
    width: 1024px;
    height: 780px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(150deg, #94f1e2, #0df7d0);
}

/*блок шапки приложения */
.hat {
    width:auto;
    height: 150px;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 2px solid #8E8D8A  ;
    background: linear-gradient(150deg, #55f8dd, #116466);
}

/* блок для главного меню */
.left-blog {
    width:150px;
    height: 613px;
    float: left;
    margin-left: 5px;
    margin-top: 10px;
    border-right: 2px solid #8E8D8A ;
    background: linear-gradient(150deg, #55f8dd, #20917e);
}

/* блок для отображения информаци */

.right-blog {
    overflow-y: auto;
    width: 850px;
    height: 613px;
    float: right;
    margin-top: 10px;
    margin-right: 5px;
    border-left: 2px solid #8E8D8A ;
    background: linear-gradient(150deg, #55f8dd, #20917e);
}
/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 10px; /* ширина для вертикального скролла */
    height: 2px; /* высота для горизонтального скролла */
    background-color: #83fdce;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
}

/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement {
    background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:vertical:end:increment {
    background:
        linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    background:
        linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:end:increment {
    background:
        linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

.border-center {
    text-align: center;
}