<div>
  <div>
    <img src="https://catherineasquithgallery.com/uploads/posts/2021-02/1612673243_19-p-zelenii-razdelitel-prozrachnii-fon-36.png" class="img">
  </div>
  <div class="header">
    <app-avatar></app-avatar>
    <div class="font">
      <div>
        <div class="social whatsapp">
          <a href="#" target="_blank"><i class="fa fa-whatsapp fa-2x"></i></a>
        </div>
        <div class="social instagram">
          <a href="#" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
        </div>
        <div class="social telegram">
          <a href="#" target="_blank"><i class="fa fa-paper-plane fa-2x"></i></a>
        </div>
        <div class="social vk">
          <a href="#" target="_blank"><i class="fa fa-vk fa-2x"></i></a>    
      </div>
      </div>
      <h1 routerLink="/authorization" style="font-size: 40px" *ngIf="! loggedIn()"> Мy Stories Blog</h1>
      <h1 class="area" style="font-size: 40px" *ngIf=" loggedIn()"> Мy Stories Blog</h1>
    </div>
  </div>
</div>