<div>
  <div>
    <img src="https://ds05.infourok.ru/uploads/ex/0f95/001335ec-59bb466a/hello_html_m25616f05.png" class="img">
  </div>
  <div class="header">
    <app-avatar></app-avatar>
    <div class="font">
      <div>
        <div class="social whatsapp">
          <a href="#" target="_blank"><i class="fa fa-whatsapp fa-2x"></i></a>
        </div>
        <div class="social instagram">
          <a href="#" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
        </div>
        <div class="social telegram">
          <a href="#" target="_blank"><i class="fa fa-paper-plane fa-2x"></i></a>
        </div>
        <div class="social vk">
          <a href="#" target="_blank"><i class="fa fa-vk fa-2x"></i></a>    
      </div>
      </div>
      <h1 routerLink="/authorization" style="font-size: 40px"> Мy Stories Blog</h1>
    </div>
  </div>
</div>