<div class="container">
    <div>
        <h1>Профиль</h1>
    </div>
    <img src="{{photo}}" class="round" routerLink="/app-avatar-list">  
    
    <div *ngFor="let user of users">
    <div>
        <h2>{{user.id}}</h2>
    </div> 
    <div>
        <h2>Фамилия</h2>
        <input type="text" required>
    </div>
    <div>
        <h2>Имя</h2>
        <input type="text" required>
    </div>
    <div>
        <h2>Отчество</h2>
        <input type="text" required>
    </div>
    <div>
        <h2>E-mail</h2>
        <input type="text"  *ngIf="loggedIn()" value="{{ getUserEmail() }}">
    </div>
    <div>
        <input class="button2" type="submit" value="Изменить данные">
    </div>
    <div>
        <input (click)="onLogOut()" *ngIf="loggedIn()" routerLink="logout" class="button" type="submit" value="Выйти">
    </div>
  </div>

</div>