<!-- <div>
<div id="wrapper">
     <p>Текст</p>

     <form [formGroup]="passwordForm" (ngSubmit)="onSubmit">
     <div id="pass-window">
     <h3>Пожалуйста, введите пароль:</h3>

     <p><input id="email" formControlName="email" type="text" /></p>
     <p><input id="password" formControlName="password" type="text" /></p>

    <button type="submit" [disabled] = "passwordForm.invalid" type="button">Принять</button>
        <input routerLink="" type="button" value="Назад" />
     </div>
   </form>
</div>
<div id="mask"></div>

dfvedvegveveve
edveveve
vevevef
edvevevevevev
evev
</div>
 -->
