<div>
    <div class="text">
        <h1>О нас</h1>
    </div>
    <div class="text_main">
        <h2>Дорогой читатель, мы рады приветствовать тебя на нашем сайте. 
            Помните, мы в детстве делали такие анкеты из тетрадок с вопросами, конвертиками, секретиками, напиши, кого ты любишь и т.д.?</h2> <h2>В анкетах друзья и знакомые помимо ответов на вопросы оставляли свои фотографии, пожелания, рисунки. Анкеты ходили по рукам, и чем больше у тебя было ответивших (а особенно не из твоего класса), тем было круче! Так трогательно сейчас перечитывать свои мысли, наблюдения и рассуждения двадцатилетней давности. Наивно и чисто…</h2>
            <h2>Мы осовременнили данное представление об анкете и хотим поделиться результатом! Надеемся Вам понравиться! Ждем Ваших отзывов и пожеланий! </h2>
    </div>
    <img class="img" src="http://www.tapenik.ru/dizain_ng/maus_020.png">
</div>